aiofiles==23.1.0
certifi==2023.5.7
charset-normalizer==3.1.0
distro==1.8.0
idna==3.4
packaging==23.1
regex==2023.5.5
requests==2.30.0
scikit-build==0.17.3
setuptools==67.7.2
tiktoken==0.4.0
tomli==2.0.1
urllib3==2.0.2
watchdog==3.0.0
websockets==11.0.3
wheel==0.40.0
